@import "tailwindcss";
a {
  text-decoration: none !important;
  color: inherit !important;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Optional: smooth scrolling */
html {
  scroll-behavior: smooth;
}
