@import "tailwindcss";
a {
  text-decoration: none !important;
  color: inherit !important;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

